/* Contenedor principal del oro */
.gold-container {
    width: 10%;
    min-width: 80px; /* Ancho mínimo de 200px */
    display: flex;
    align-items: center;
    background: #333; /* Fondo oscuro */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
    color: #fff; /* Texto blanco */
    font-size: 16px;
}

/* Icono de oro */
.gold-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Cantidad de oro */
.gold-amount {
    font-weight: bold;
    color: #ffd700; /* Color dorado para el texto */
    text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 15px #ffd700; /* Efecto de brillo */
    transition: text-shadow 0.3s ease-in-out;
}

/* Ejemplo de animación para ganar oro */
.gold-amount.animated {
    animation: pulse 1s infinite;
}

/* Animación para pulsar */
@keyframes pulse {
    0% { text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 15px #ffd700; }
    50% { text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00, 0 0 30px #ffcc00; }
    100% { text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 15px #ffd700; }
}


/*****************************
    CARDS
*****************************/
.card {
    display: flex;
    background-color: #2c2f33;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 430px;
    overflow: hidden;
}

.card img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-right: 2px solid #23272a;
}

.card-content {
    padding: 20px;
    flex-grow: 1;
}

.card-content p {
    margin: 0 0 10px;
    font-size: 18px;
    color: #ffffff;
}

.card-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 15px;
}

.card-content ul li {
    font-size: 16px;
    margin-bottom: 5px;
    color: #86e9ff;
}

.card-content input[type="text"] {
    font-size: 16px;
    margin-bottom: 10px;
    color: #86e9ff;
    background-color: #23272a;
    border: 2px solid #86e9ff;
    padding: 5px;
    border-radius: 5px;
    width: calc(100% - 14px); /* Adjusting width to account for padding and border */
}

.card-content input[type="text"]:focus {
    outline: none;
    border-color: #00ffff;
}

.card-content label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #ffffff;
}

.card-content button {
    background-color: #6acfd6;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-content button:hover {
    background-color: #00ffff;
}

/* Estilo para dividir el formulario en dos columnas */
.card-content .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.card-content .form-group label,
.card-content .form-group input[type="text"] {
    width: 100%;
}

/* Para dividir las columnas */
.card-content .form-group.split {
    display: flex;
    justify-content: space-between;
}

.card-content .form-group.split input[type="text"] {
    width: 48%; /* Para que los inputs se alineen uno al lado del otro */
}

.card-content .form-group.split label {
    width: 48%;
}

