/* Contenedor principal del oro */
.big-gold {
    font-size: 4.5rem;
}

#big-gold-container{
    width: 20%;
    min-width: 350px;
}

.gold-container {
    width: 10%;
    min-width: 80px;
    display: flex;
    align-items: center;
    background: #333; /* Fondo oscuro */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
    color: #fff; /* Texto blanco */
    font-size: 16px;
}

/* Icono de oro */
.gold-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Icono de oro */
.big-gold-icon {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

/* Cantidad de oro */
.gold-amount {
    font-weight: bold;
    color: #ffd700; /* Color dorado para el texto */
    text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 15px #ffd700; /* Efecto de brillo */
    transition: text-shadow 0.3s ease-in-out;
}

/* Ejemplo de animación para ganar oro */
.gold-amount.animated {
    animation: pulse 1s infinite;
}

/* Animación para pulsar */
@keyframes pulse {
    0% { text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 15px #ffd700; }
    50% { text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00, 0 0 30px #ffcc00; }
    100% { text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 15px #ffd700; }
}
